html, body{
  padding: 0px;
  margin: 0px;
  font-family: "メイリオ", Helvetica;
}
h1, h2, h3, h4, h5, h6, p{
  padding: 0px;
  margin: 0px;
  font-size:100%;
  font-weight:normal;
}
li{
  list-style:none;
}
a{
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
a:link{
  color: gray;
}
a:visited{
  color: gray;
}
a:hover{
  color: gray;
  letter-spacing: 2px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
}
a:active{
  color: gray;
}
a:hover img{
  opacity: 0.8;
}

header{
  background-color: white;
  border-bottom: solid 1px #e6e6e6;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#header_img img{
  float: left;
  height: 60px;
  margin: 2.5px 0px 2.5px 15px;
}

#left_menu{
  float: left;
}

#left_menu li{
  float: left;
  margin: 5px;
  padding: 5px;
  width: 100px;
  text-align: center;
}
#left_menu li img{
  height: 20px;
  width: auto;
}

#right_menu{
  float: right;
}

#right_menu li{
  float: left;
  margin: 5px;
  padding: 5px;
  width: 30px;
  text-align: center;
}



.home_content{
  width: 100%;
  padding-top: 70px;
}

.home_left_content{
  padding: 140px 0px;
}
.home_left_content img{
  background-color: none;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.home_right_content{
  padding: 15px;
}
.home_all_right_content{
  border-radius: 2px;
  height: 190px;
  margin: 10px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home_top_right_content{
  background-image: url("../img/k-dush2_img.jpg");
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.home_top_right_content:hover{
  -webkit-transform:	scale(1.01);
	transform:		scale(1.01);
  opacity: 0.9;
}
.top_img{
  background-color: rgba(77,188,233,0.5);
  border-radius: 2px;
  height: 100%;
}
.top_img h2{
  padding: 15px 20px;
  font-size: 35px;
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 2px;
}
.top_img h3 {
  padding: 5px 20px 5px;
  font-size: 25px;
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 2px;
}
.top_img p{
  padding: 5px 20px;
  font-size: 23px;
  color: #e6e6e6;
  font-weight: 200;
  text-shadow: 1px 1px 2px gray;
}
.home_middle_right_content{
  background-image: url("../img/background_img3.jpg");
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.home_middle_right_content:hover{
  -webkit-transform:	scale(1.01);
	transform:		scale(1.01);
  opacity: 0.9;
}
.middle_img{
  background-color: rgba(0,133,201,0.5);
  border-radius: 2px;
  height: 100%;
}
.middle_img h2{
  padding: 15px 20px;
  font-size: 35px;
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 2px;
}
.middle_img p{
  padding: 10px 20px;
  font-size: 17px;
  color: #e6e6e6;
  font-weight: 200;
  text-shadow: 1px 1px 2px gray;
}
.blog_content:hover {
   text-decoration: none;
   letter-spacing: 0;
}
.home_bottom_right_content{
  background-image: url("../img/background_img2.jpg");
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.home_bottom_right_content:hover{
  -webkit-transform:	scale(1.01);
	transform:		scale(1.01);
  opacity: 0.9;
}
.bottom_img{
  background-color: rgba(115,193,29,0.5);
  border-radius: 2px;
  height: 100%;
}
.bottom_img h2{
  padding: 15px 20px;
  font-size: 35px;
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 2px;
}
.bottom_img p{
  padding: 10px 20px;
  font-size: 17px;
  color: #e6e6e6;
  font-weight: 200;
  text-shadow: 1px 1px 2px gray;
}

.bottom_img a{
  font-size: 25px
}

.bottom_img a:link{
  color: white;
}
.bottom_img a:visited{
  color: white;
}
.bottom_img a:hover{
  color: white;
  letter-spacing: 0px;
}
.bottom_img a:active{
  color: white;
}


/*   about   */

.about_content{
  width: 100%;
  background-color: #f0f8fa;
  background-image: url("../img/boke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.about_content h2{
  text-align: center;
  padding: 20px;
  margin: 20px;
  letter-spacing: 2px;
  font-size: 30px;
  color: #333333;
  font-weight: 200;
}
.about_top_content{
  padding: 15px;
  margin: 15px;
  background-color: rgba(255,255,255,0.6);
}
.about_img_content{
  padding: 5px;
}
.about_img_content img{
  width: 100%;
  background-color: #e6e6e6;
  padding: 5px;
}
.about_bottom_content{
  padding: 15px;
  margin: 15px;
  background-color: rgba(255,255,255,0.6);
}
.about_main_content{
  padding: 5px;
  color: #333333;
}
.about_main_content h3{
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}
.about_main_content p{
  margin: 5px;
  padding: 5px 30px;
}

/*   member   */

.member_content{
  width: 100%;
}
.member_content h2{
  text-align: center;
  padding: 40px;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 200;
}
.member_main_content img{
  width: 100%;
  height: auto;
}

figure.snip1194 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  background: #ffffff;
  color: #000000;
  text-align: center;
}
figure.snip1194 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1194 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1194 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip1194 h2,
figure.snip1194 p {
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
}
figure.snip1194 h2 {
  padding: 0 30px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.1em;
  bottom: 82%;
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}
figure.snip1194 h2 span {
  font-weight: 400;
}
figure.snip1194 p {
  top: 20%;
  padding: 0 50px;
  font-size: 1em;
  font-weight: 500;
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
}
figure.snip1194 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1194:hover img,
figure.snip1194.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1194:hover figcaption h2,
figure.snip1194.hover figcaption h2,
figure.snip1194:hover figcaption p,
figure.snip1194.hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
figure.snip1194:hover figcaption h2,
figure.snip1194.hover figcaption h2 {
  opacity: 0.9;
}
figure.snip1194:hover figcaption p,
figure.snip1194.hover figcaption p {
  opacity: 0.6;
}

/*   achieve   */

.archive_content{
  width: 100%;
  background-color: #f0f8fa;
  padding-bottom: 30px;
}
.archive_content h2{
  text-align: center;
  padding: 40px;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 200;
}
.archive_content img{
  width: 100%;
}
.archive_main_content{
  text-align: center;
  padding: 0px 20px 40px;
}

/*   contact   */

.contact_content{
  background-color: #26ADE4;
  color: #e6e6e6;
  border-bottom: solid 1px #393939;
  padding: 20px 0px;
}
.contact_content h2{
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 200;
}
.contact_left_content{
  margin: 0 auto;
  padding: 20px 5px;
}
.contact_left_content h3{
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.table th{
  width: 100px;
  padding: 5px;
}
.table td{
  padding: 5px;
}

.contact_middle_content{
  margin: 0 auto;
  padding: 20px 5px;
}
.contact_middle_content h3{
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.contact_middle_content p{
  padding: 5px;
}
.contact_right_content{
  margin: 0 auto;
  padding: 20px 5px;
}

footer{
  text-align: center;
  background-color: #333333;
  padding: 5px;
  color: #e6e6e6;
}

.clearfix:after{
  display: block;
  clear: both;
  content: "";
}

@media screen and ( max-width:990px ){
  .home_left_content img{
    background-color: none;
    width: 300px;
    display: none;
    margin: 0 auto;
    display: block;
  }

  .home_left_content{
    padding: 30px 0px;
  }

  #left_menu{
    display: none;
    padding-top: 70px;
  }
  #left_menu li{
    width: 100%;
  }
}

@media screen and ( max-width:768px ){
  .home_left_content img{
    background-color: none;
    width: 200px;
    display: none;
    margin: 0 auto;
    display: block;
  }
  .top_img h3 {
    padding: 0 20px 5px;
    font-size: 22px;
    color: white;
    font-weight: 200;
    text-shadow: 1px 1px 2px gray;
    letter-spacing: 2px;
  }
  .top_img p{
    padding: 0 20px;
    font-size: 17px;
    color: #e6e6e6;
    font-weight: 200;
    text-shadow: 1px 1px 2px gray;
  }
  .middle_img p{
    padding: 0 20px;
    font-size: 15px;
    color: #e6e6e6;
    font-weight: 200;
    text-shadow: 1px 1px 2px gray;
  }
}
