/* TABLET */
/*and (-webkit-min-device-pixel-ratio: 1)*/

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1000px)
 {
	input[type="text"]:not(.reg_textbox) {
		position: relative;
		/*border: 1px dashed #696;*/
		margin: 1px;
		padding: 1.25vw;
		text-align: center;
		border: 1px solid #c4c4c4;
		width: 1em;
		height: 1em;
		font-size: 2em;
	}
	body {
		margin-left: auto;
		margin-right: auto;
		/*padding: 5px;*/
		width: 100%;	
	}
	.enquete-large {
		display: none;
	}
	.enquete-small {
		margin: 1em auto;
		display: block;
		font-size: x-large;
	}
	.conversation-small {
		font-size: 5vw;
	}
	.reg_textbox,
	#s2textbox,
	input[name="s6texbox"] {
		position: relative;
		margin: 1px;
		padding: 1.25vw;
		text-align: center;
		border: 1px solid #c4c4c4;
		width: 100%;
		/*height: 1em;*/
		font-size: 2em;
	}
}

/*and (-webkit-min-device-pixel-ratio: 1) */
@media only screen
and (min-device-width: 1000px)
and (max-device-width: 1024px)
{
	
	input[type="text"]:not(.reg_textbox) {
		position: relative;
		margin: 1px;
		padding: 1.25vw;
		text-align: center;
		border: 1px solid #c4c4c4;
		width: 1em;
		height: 1em;
		font-size: 2em;
	}
	body {
		margin-left: auto;
		margin-right: auto;
		/*padding: 5px;*/
		width: 100%;	
	}
	.enquete-large {
		display: none;
	}
	.enquete-small {
		display: block;
	}
	.conversation-small {
		font-size: 5vw;
	}
	.reg_textbox,
	#s2textbox,
	input[name="s6texbox"] {
		position: relative;
		margin: 1px;
		padding: 1.25vw;
		text-align: center;
		border: 1px solid #c4c4c4;
		width: 100%;
		/*height: 1em;*/
		font-size: 2em;
	}
}